@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 4rem;
}

.greet-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  background: url("../../assets/images/bg-dark.png") no-repeat center center;
  background-size: 100% 80%;
  filter: brightness(1.2);
  opacity: 1;
  min-height: 400px;
  position: relative;
  margin-top: 160px;
  margin-bottom: -100px;
}

.greeting-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0fr 2fr 1fr;
  gap: 10px;
  height: 100%;
}

.profile-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -170px;
  grid-column: 1 / 2;
}

.profile-image-wrapper {
  position: relative;
  width: 275px;
  height: 275px;
  margin-bottom: 10px;
  left: -60px;
  overflow: hidden;
  border-radius: 50% 50% 50% 50%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -30px;
  margin-top: -160px;
}

.greeting-text {
  font-size: 56px;
  font-weight: 500;
  margin: 0;
  line-height: 1.3;
}

.dark-mode .greeting-text {
  color: #f0f0f0;
}

.greeting-text-p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #282828;
}

.dark-mode .greeting-text-p {
  color: #ccc;
}

.subTitle {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #282828 !important;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.button-greeting-div {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.download-link-button {
  text-decoration: none;
}

.dark-mode .social-icons svg {
  fill: #ccc;
}

.social-icons svg {
  fill: #333;
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.social-icons svg:hover {
  fill: #4CAF50;
  transform: scale(1.1);
}

.dark-mode .download-link-button Button {
  background-color: #4CAF50;
  color: white;
}

.interests {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
}

.interests h2 {
  font-size: 30px;
  font-weight: 400;
  color: $textColor;
  margin-bottom: 10px;
  margin-right: 160px;
}

.interests ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
  color: $textColor;
}

.interests li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-right: -75px;
}

.interests li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #000000;
  font-size: 2rem;
}

/* Mobile view (max-width: 768px) */
@media (max-width: 768px) {
  .greet-main {
    background: none;
    justify-content: center;
    align-items: center;
    padding: 80px 50px;
    min-height: auto; /* Adjusted for mobile */
    margin-top: 0;
    margin-bottom: 0;
    top: 50px !important;
  }

  .greeting-container {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .content {
    margin-left: -16px;
  }

  .profile-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center !important;
    margin: 0 auto;
    top: -140px;
    right: -50px;
  }

  .profile-image-wrapper {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50%;
  }

  .greeting-text {
    font-size: 36px;
    margin: 0 auto;
    margin-left: 50px;
  }

  .greeting-text-p {
    font-size: 1rem;
    margin-top: 10px;
  }

  .subTitle {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    left: 0 !important; /* Ensure it's aligned properly */
    margin-left: 8px; /* Centering in the container */
  }

  .social-icons {
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .social-icons svg {
    width: 35px;
    height: 35px;
  }

  .button-greeting-div {
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px !important;
  }

  .interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }

  .interests h2 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: -20px;
  }

  .interests ul {
    padding-left: 0;
    font-size: 1rem;
    list-style-type: none;
    text-align: left;
    width: 100%; 
    margin: 0 auto;
  }

  .interests li {
    margin-bottom: 15px;
    font-size: 1rem;
    position: relative;
    padding-left: 30px;  
  }

  .interests li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #000;
    font-size: 1.5rem;
  }
}

